*{
    margin:0;
    padding:0
}
html,body,#app{
    min-width: 1226px;
    width: 100%;
    height: 100%;
    background-color: rgb(233,236,243);
}
.el-submenu__icon-arrow {
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -7px;
    transition: transform 0.3s;
    font-size: 12px;
}
.el-dialog__body {
    padding: 9px 20px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}
.el-dialog__footer {
    padding: 10px 20px 20px;
    text-align: left;
    box-sizing: border-box;
}
.el-table__row:nth-child(n+1){
    cursor: pointer;
}